* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
    overflow: auto;
}

/*---------------------------- Header ----------------------------*/
header{
    text-align: center;
    padding: 10px;
    background-color: #6a6969;
    color: white;
}

/*---------------------------- Main ----------------------------*/
main {
    background-color: #c1c1c1;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

#firstImg {
    border-radius: 10px; 
    margin-bottom: 20px;
    width: 1000px;
}

.card {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8); /* Transparência do fundo */
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s;
    margin: 10px;
    margin-bottom: 25px;
    overflow: hidden;
    font-family: 'Helvetica', sans-serif;
}

.card a{
    color: rgb(214, 132, 9);
    position: inherit;
    font-size: 15px;
}
.cardImg{
    padding-top: 10px;
    transition: 0.5s;
}


.container div{
    margin-top: 50px;
}
.container p {
    font-weight: bold;
    padding: 20px;
    padding-top: 5px;
}

.informationCard{
    margin-left: 400px;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Transparência do fundo */
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s;
    margin-bottom: 25px;
    overflow: hidden;
}

.informationCard img{
    width: 450px;
    padding-bottom: 15px;
}

/*SLIDER begin*/
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(255, 136, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(255, 136, 0);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
#radio9:checked ~ .first{
    margin-left: -160%;
}
#radio10:checked ~ .first{
    margin-left: -180%;
}
#radio11:checked ~ .first{
    margin-left: -200%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid rgb(255, 136, 0);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(255, 136, 0);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(255, 136, 0);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(255, 136, 0);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(255, 136, 0);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: rgb(255, 136, 0);
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background: rgb(255, 136, 0);
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background: rgb(255, 136, 0);
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background: rgb(255, 136, 0);
}
#radio9:checked ~ .navigation-auto .auto-btn9{
    background: rgb(255, 136, 0);
}
#radio10:checked ~ .navigation-auto .auto-btn10{
    background: rgb(255, 136, 0);
}
#radio11:checked ~ .navigation-auto .auto-btn11{
    background: rgb(255, 136, 0);
}
/*end*/

/*---------------------------- Footer ----------------------------*/
footer{
    font-style: italic; 
    text-align: center;
    padding: 5px;
    background-color: #6a6969;
    color: white;
}