* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

/* Header */
header{
    text-align: center;
    padding: 10px;
    background-position: center;
}

/* Main */
.container {
    background-color: #EEE;
    min-height: 80vh;
}

/* Footer */
